* {
    font-family: 'Mitr', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff4df;
}

header {
    width: fit;
    height: 80px;
    background-color: #93B1C7;
}

.boxprofile {
    width: 250px;
    height: 580px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 40px;
    float: left;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* จัดเนื้อหาตรงกลางแนวนอน */
    box-shadow: 5px 5px 5px rgba(0.1, 0.1, 0.1, 0.1);
}

.boxprofile img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    background-color: #ffff;
    margin-top: 40px;
    opacity: 0.7;
}

.username,
.email {
    opacity: 0.7;
    line-height: 1.4;
}

.username {
    margin-top: 10px;
}

.logout {
    width: 200px;
    height: 50px;
    background-color: #ffff;
    border-top: 2px solid #93B1C7;
    border-bottom: 2px solid #93B1C7;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -2px;
    /* ย้าย .checkscore ขึ้นไปด้านบนเพื่อทับ .addscore */
    z-index: 1;
    /* เพิ่มค่า z-index ต่ำลงเพื่อให้ .addscore:hover ทับ .checkscore */
    margin-top: 20px;
}

.logout a {
    text-decoration: none;
    color: #000;
}

.logout:hover {
    background-color: #93B1C7;
    color: #F8F1E3;
    width: 250px;
    height: 50px;
    top: -2px;
    /* ย้าย .checkscore ขึ้นไปด้านบนเพื่อทับ .addscore */
    cursor: pointer;
}

.container2 {
    border: 1px solid rgb(8, 8, 8);
    border-radius: 10px;
    margin-left: 350px;
    margin-top: 100px;
    width: 300px;
    height: 200px;
    background-color: antiquewhite;
}

.container2 p {
    margin-top: 160px;
    margin-left: 20px;
}

.hk {
    background-color: #fff4df;
    width: 700px;
    margin-top: 20px;
    margin-left: 400px;
    border-radius: 20px;
    height: 45px;
}

.hk p {
    margin-top: 25px;
    margin-left: 210px;
}

.Adddata input {
    margin-top: 10px;
    width: 300px;
    border-radius: 10px;
}

.Adddata {
    margin-left: 600px;
    margin-top: 50px;
}

.addsc {
    width: 200px;
    height: 50px;
    background-color: #ffff;
    border-top: 2px solid #93B1C7;
    border-bottom: 2px solid #93B1C7;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -2px;
    z-index: 1;
    margin-top: 20px;
}

.addsc:hover {
    background-color: #93B1C7;
    color: #F8F1E3;
    cursor: pointer;
    width: 250px;
    height: 50px;
    top: -2px;
}

.viewsc:hover {
    background-color: #93B1C7;
    color: #F8F1E3;
    cursor: pointer;
    width: 250px;
    height: 50px;
    top: -2px;
}

.addsc button,
.viewsc button {
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    outline: none;
    width: auto;
    height: auto;
    margin: 0;
}

.addsc:hover button,
.viewsc:hover button {
    text-decoration: underline;
    color: #F8F1E3;
}

.addsc p,
.viewsc p {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000;
}

.addsc:hover p,
.viewsc:hover p {
    text-decoration: underline;
    color: #F8F1E3;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
}

.custom-dropdown input[type="text"] {
    padding-right: 25px;
    /* จัดขอบขวาของ input ให้พอดีกับลูกศร */
}

.custom-dropdown .arrow-down {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    /* สีขอบของลูกศร */
    cursor: pointer;
}

#scoretype:focus+.datalist {
    display: block;
}


/* --------------viewsc */

.typesocre input {
    width: 200px;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 10px;
    border: 1px solid #93B1C7;
}

.search {
    margin-top: -38px;
    margin-left: 900px;
}